{% extends 'base.html' %}

{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <div class="wrapper">
        {% if form.errors %}
            <p>Ha habido un error al iniciar sesión, por favor, inténtelo de nuevo</p>
        {% endif %}

        {% if user.is_authenticated %}
            <h1>Logout</h1>
            <p>Hola {{ user.username }}</p>
            <a href="{% url 'logout' %}">Logout</a>
        {% else %}
            <div class="form-container">
                <h1 class="login-text">Login</h1>
                <form method="POST" action="">
                    {% csrf_token %}
                    <ul>
                        <li>
                            {{ form.username.label_tag }}
                            {{ form.username }}
                        </li>
                        <li>
                            {{ form.password.label_tag }}
                            {{ form.password }}
                        </li>
                    </ul>
                    <input type="submit" value="Login" />
                </form>
            </div>
        {% endif %}
    </div>
{% endblock %}