

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-top: -50px;
}

.form-container {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-text {
    text-align: center;
    color: #333;
}

form {
    margin-top: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid black;
}

input[type="submit"] {
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    margin-top: .6rem;
}

label, input[type="submit"] {
    font-size: large;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

@media screen and (max-width: 600px) {
    .wrapper {
        margin-top: 0;
    }

    .form-container {
        margin: 20px;
    }

    label, input[type="submit"] {
        font-size: medium;
    }
}