* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --nav-item-color: #202124;
    --footer-bg-color: #333;
}

nav {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    gap: 2.5em;
}

nav>li>a {
    color: var(--nav-item-color);
    text-decoration: none;
}

nav>li>a:hover {
    text-decoration: underline;
}

nav>li {
    list-style: none;
}

footer {
    background-color: var(--footer-bg-color);
    color: #fff;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.signup-error {
    color: red;
}