.coche img {
    max-width: 100%;
    height: auto;
    border: 2px solid #050505; 
    box-shadow: inset;
    border-radius: 10px; 
    overflow: hidden;
    transition: transform 0.2s;
    height: 400px;
    width: 500px;
    object-fit: cover;
}