{% extends "base.html" %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/agregar.css' %}">

<div class="form">
    <h2 class="añadir">Añadir coche</h2>
    <form action="{% url 'agregar' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="Marca">Marca: </label>
        <select name="brands" id="brands">
            {% for v in marcas %}
                <option value="{{ v.marca }}" id="brand">{{ v.marca }}</option>
            {% endfor %}
        </select>
        <br>
        <select name="models" id="models"></select>
        <br>
        <input type="file" id="image" name="image">
        <br>
        <input type="number" name="year" id="year">
        <br>
        <button class="btn btn-custom" type="submit">Enviar</button>
    </form>
</div>
<script src="{% static 'js/agregar.js' %}"></script>
{% endblock %}