{% load static %}
{% load bootstrap4 %}


<!DOCTYPE html>
<html lang="en">
<head>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@400;700&family=Quicksand:wght@300;400&display=swap">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Inicio</title>
</head>
<body>
    <header>
        <nav>
            <div id="logo-container">
                <a href="{% url 'perfil' %}" img id="logo" src="{% static 'img/logo.png' %}" alt="Logo">
                <h1>MotorPulse</h1>
            </div>
            {% if user.is_authenticated %}
                <li><a href="{% url 'lista_coches' %}">Coches</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
                <li><a href"{% url 'perfil'%}">{{ user.username }}</a> </li>
            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
            <li><a href="{% url 'signup' %}">Signup</a></li>
            <li><a href="{% url 'user-profile' 1 %}">Perfil</a></li> <!--El id será uno por default, por ahora.-->
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
<footer>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-4">
                        <p>Tlf. 934 768 472</p>
                    </div>
                    <div class="col-sm-4">
                        <p>E-mail - unusual@gmail.com</p>
                    </div>
                    <div class="col-sm-4">
                        <p> 
                            <a href="https://www.instagram.com/"> <img src="/static/images/imgbg/instagram.png" width="50px" height="50px" alt="LogoInsta"></a>
                            <a href="https://www.facebook.com/">  <img src="/static/images/imgbg/facebook.png"   width="50px" height="50px"  alt="LogoFacebook"></a>
                    </div>
                </div>
            </div>
</footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>
</body>

</html>