{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Inicio</title>
</head>
<body>
    <header>
        <nav>
            <div id="logo-container">
                <a href="{% url 'perfil' %}" img id="logo" src="{% static 'img/logo.png' %}" alt="Logo">
                <h1>MotorPulse</h1>
            </div>
            {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Logout</a></li>
                <li><a href="{% url 'lista_coches' %}">Coches</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
            <li><a href="{% url 'signup' %}">Signup</a></li>
            <li><a href="{% url 'user-profile' 1 %}">Perfil</a></li> <!--El id será uno por default, por ahora.-->
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; Derechos reservados</p>
    </footer>
</body>
</html>