{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/lista_vehiculos.css' %}">
<h1>Catálogo</h1>

<nav>
    {% for vehiculo in vehiculos %}
    <img class="logos" src="{% static 'img/logos/' %}{{ vehiculo.marca.logo }}" alt="{{ vehiculo.marca }}" onclick="mostrarFotos('#{{ vehiculo.marca }}')">
    {% endfor %}
    <label class="links" onclick="todos()">Todos</label>
</nav>

<div class="catalogo">
    {% for vehiculo in vehiculos %}
    <figure class="coche"  id="{{ vehiculo.marca }}">
    <a href="{% url 'vehiculo_detalle' vehiculo.id %}"><img src="{% static 'img/' %}{{ vehiculo.imagen }}" alt="{{ vehiculo.marca }} {{ vehiculo.modelo }}"></a>
        <figcaption>{{ vehiculo.marca }} {{ vehiculo.modelo }} {{ vehiculo.anho }}</figcaption>
    </figure>  
    {% endfor %}
    <script src="{% static 'js/lista_vehiculos.js' %}"></script>
</div>

{% endblock %}
